@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
*{
    margin:0;
    padding:0;
}
h3{
    margin:auto;
    margin-top:10px;
    text-align: center;
}
#Formulario{
    margin:auto;
    width: 50%;
    height: 50%;
    box-shadow: 2px 2px 1px gray;
    border-radius: 10px;
    padding: 10px;
    margin-top:5%;
}

button{
    position: relative;
    left:30%;
}

#TableDiv{
    margin:10px auto;
    
    width:70%;
    height: 40%;
    margin-top:15px;
    box-shadow: 1px 1px 3px 1px black;
    border-radius: 10px;
    padding: 10px;
}
#Revistas{
    margin:10px auto;
    width:70%;
    height: 40%;
    margin-top:15px;
    box-shadow: 1px 1px 3px 1px black;
    border-radius: 10px;
    padding: 10px;
    
}
.container{
   
    padding: 5px;
    margin-top:30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: black;
    font-size: 25px;
    
    
}
.container h3{
   
   
    font-style: bold;
    font-size: 30px;
    
    
}